@model Semester2Coursework.Models.Loan

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Albums.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Albums.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Members.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.issueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.issueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.returnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.returnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fineamount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fineamount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
